.ProfilePage {
    padding-top: 100px;
}

.ProfHeader {
    color: rgb(17, 16, 16); 
    font-size: 24px;    
    text-align: start;
}

#ProfLink {
   text-align: end;
   color: rgb(10, 10, 10);  
   font-size: 16px;
   font-weight: bold;
}

.Resumes, .BookM {
    border-bottom: 0.01em solid #132f4c;
}

.BookM {
    padding-left: 15px;
}

.some-page-wrapper {
  margin: 15px;  
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center; 
  align-content: flex-end;
}

.ResumeImg {
  width: 305px;
  height: 400px;
}

.ResumeTitle {
  margin-bottom: -10px;
  font-size: 13px;
  color: rgb(37, 55, 159);
}

.ResumeLevel {
  color: #030303;
}

#Logo {
  color: #2b72e4;
}



