.Intro {
    padding-top: 100px;
}

.Box {
    margin: auto;
    padding-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #0049A9;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #060606;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0049A9;
}

.UpHeader {
    color: rgb(7, 7, 7);
    padding-top: 30px;
}

#updateinput {
    color: rgb(20, 19, 19);
}

#demo-simple-select-label {
    color: rgb(7, 6, 6);

}

#demo-simple-select {
    color: rgb(5, 5, 5);
}