#AppBar {
    background-color: #081b2f;
    border-bottom: 0.01em solid #132f4c;
}

.link, a:link, a:visited, a:hover, a:active {
    color: #122d49;
    text-decoration: none;
}

#link {
    color: #3293ef;
}

#logo {
   font-weight: bold; 
   font-size: 18px;
   background: -webkit-linear-gradient(#2b72e4, #3293ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}