/* * {
    box-sizing: border-box;
  }
    
  body {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  label > input {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    border-radius: 10px;
  }
 
  button {
    display: block;
    font-size: 1rem;
    margin: 0.5rem 0 0 auto;
    padding: 0.4rem;
    background-color: #0077b5;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%
  }
    
  button:hover {
    color: white;
    background-color: #737495;
  } */
  
.outlined-basic {
  border: #3293ef;
  color: #3293ef;
}

#ButtonOne, #ButtonTwo {
    background-color: #1a73db;
    border-radius: 20px;
    width: 300px;
    height: 37px;
    text-transform: capitalize;
    color: white;
    margin: 10px;
}

#test {
  color: white;
}